#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
body{
    background-image: url("download.jpg");
    background-size: cover;
    color: white;
}
.start_div{
    background: white;
    padding: 10px;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: -5px 10px 27px rgb(56, 55, 55);
    width: 50%;
}
.start_div h3{
    font-weight: bold;
}
.start_div textarea{
    width: 80%;
    box-shadow: 1px 5px 20px gray;
}